@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap");

.coin-container {
  display: flex;
  padding: 2.9rem;
  font-family: "Montserrat";
  min-height: 70dvh;
}

.coin-image-name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #f3f2f4;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  padding: 3rem;
}

.coin-image-name img {
  height: 15rem;
  width: 15rem;
}

.coin-image-name h4 {
  color: #f3f2f4;
  font-size: 2rem;
}

.coin-image-name p {
  color: #f3f2f4;
  font-size: 1rem;
  font-weight: 900;
}

.coin-content {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.coin-content-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.coin-content-first-row span {
  display: flex;
  color: #f3f2f4;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.coin-content-first-row p {
  margin-left: 1rem;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.purple-text {
  color: blueviolet;
  font-family: "Ubuntu";
  font-weight: 900;
}

.coin-content-description {
  color: #f3f2f4;
  font-size: 1.5rem;
  height: 20rem;
  margin-top: 4rem;
  overflow-y: auto;
  text-align: left;
  width: 100%;
}

.coin-content-description a {
  color: rgb(14, 203, 129);
  text-decoration: none;
}
.coin-content-description::-webkit-scrollbar {
  width: 12px;
}

.coin-content-description::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 6px;
}

.coin-content-description::-webkit-scrollbar-track {
  background-color: #0f051d;
}

.coin-content-description {
  scrollbar-width: thin;
  scrollbar-color: blueviolet #0f051d;
  overflow-y: scroll;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .coin-content-description {
    scrollbar-color: blueviolet #0f051d;
  }
}

@media screen and (max-width: 1150px) {
  .coin-container {
    display: flex;
    padding: 2.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coin-image-name {
    border-bottom: 2px solid #f3f2f4;
    border-right: none;
    width: 60%;
    padding: 3rem;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .coin-content-description {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .coin-container {
    display: flex;
    padding: 0rem;
    font-family: "Montserrat";
  }

  .coin-content-description {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
  }
}

.coin-go-back-btn {
  position: absolute;
  margin-left: 1rem;
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  border-radius: 50%;
}

.coin-go-back-btn:hover{
  filter: brightness(90%);
}